.mynav {
	color: black;
}

body {
  margin: 0;
  background-color: black;
  color:white;
}

.container-fluid{
	padding-top: 10px;	
}

tbody {
	background-color: white;
}


.help-block {
	width: 100%;
	color: red;
	font-size: 18px;
}

.dashboard-page .card {
	color: #212529;
}

.dashboard-page .card .text-muted {
	color: #5f6f82 !important;
}
