{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <h3>Conversion</h3>
    <table class="table table-striped order-list">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Moneda Origen</th>
          <th scope="col">Moneda Destino</th>
          <th scope="col">Última Actualización</th>
          <th scope="col">Último Valor</th>
        </tr>
      </thead>
      <tbody>
        {% for conversion_obj in results %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ conversion_obj.key }}</td>
            <td>{{ conversion_obj.numerator }}</td>
            <td>{{ conversion_obj.denominator }}</td>
            <td>{{ conversion_obj.last_update  }}</td>
            <td>{{ conversion_obj.last_quote }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript">
    function updateInvestments(){
      $.ajax({
                  type:"POST",
                  url: "{% url 'currencyconverter:update_rates'%}",
                  data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                  },
                  dataType: 'json'
                });
    }
    updateInvestments()
  </script>

{% endblock %}


